body {
    margin: 0px;
    font-family: 'Inconsolata', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Space Mono', monospace;
}

nav>h2 {
    color: #333;
    font-size: 24px;
    letter-spacing: -1.92px;
    text-transform: uppercase;
    margin: 40px 0px 0px 77px;

}

header {
    margin: 0px 0px 440px;
}

header section {
    display: flex;
    gap: 118px;
    margin-top: 225px;
    /* justify-content: center; */
    align-items: center;

}

.header_content {
    width: 540px;
    height: 448px;
}

.header_content img {
    width: 100%;
    margin-left: 77px;
    /* border: 1px solid; */
}

.header_content_info {
    width: 586px;
    height: 448;
    /* border: 1px solid red; */
    margin-right: 119px;
}

.header_content_info h1 {
    color: #333;
    font-size: 64px;
    letter-spacing: -2.24px;
}

.header_content_info p {
    color: #4F4F4F;

    font-size: 24px;

    letter-spacing: -0.84px;
}

.header_content_info button {
    color: #FFF;
    font-size: 14px;
    letter-spacing: -0.49px;
    text-transform: uppercase;
    width: 216px;
    height: 68px;
    background: #333;
    border: none;
}

footer {
    color: #BDBDBD;
    font-size: 14px;
    text-align: center;
}

/* responsive */
@media screen and (max-width:568px) {

    header section {
        flex-direction: column;
    }

    .header_content {
        width: 287px;
        height: 238px;
    }

    header {
        margin-bottom: 114px;
    }

    .header_content_info {
        width: 303px;
    }

    .header_content img,
    .header_content_info {
        margin: 0px;
    }

    nav>h2 {
        margin: 40px 0px 0px 10px;
    }

    .header_content_info h1,
    p {
        text-align: left;
        /* width: 80%; */
        margin: 0px 10px 0px 10px;
    }

    .header_content_info h1 {
        font-size: 40px;
        margin-bottom: 30px;
        /* margin-left: ;
         */
    }

    .header_content_info p {
        font-size: 17px;
        /* margin-left: 24px; */
        margin-bottom: 66px;
    }

    button {
        margin-left: 10px;
        width: 190px !important;
        /* margin-bottom: 114px; */
    }

    footer p {
        color: #BDBDBD;
        text-align: center;
        font-family: Montserrat;
        font-size: 12px;


    }
}